.footer{
    width: 100%;
    height: 15vh;
    background-color: rgb(227, 196, 196) ;
}
 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  /* text-align: center; */
   padding: 45px;
}