.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    align-items: center;


}

.card img{
    width: 100%;
}

/* .card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
} */

.card img:hover{
     transform: scale(1.05);
    transition: transform 0.3s ease;
}