


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  background-color: rgb(105, 165, 211);
  padding: 40px;

}

 nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
}

.lg
{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}