.hero{
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    /* padding: 35px; */
}
.msg
{
    text-align: center;
    justify-content: center;
}